@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/dist/client/styles.ef46db3751d8e999.css">
</head>
<body>
    <app-root></app-root>
    <script src="/dist/client/runtime.4f574cbb4162bc53.js" type="module"></script>
    <script src="/dist/client/polyfills.461800ed27653478.js" type="module"></script>
    <script src="/dist/client/main.af46296e50aed229.js" type="module"></script>

</body>
</html>